.infoWrap {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.box {
  padding: 10px;
  background-color: var(--color-light);
  border-radius: 8px;

  color: var(--color-gray);
  box-shadow: var(--shadow-regular);

  position: relative;
  width: 200px;
  height: 200px;
}

.button {
  position: absolute;
  border-radius: 20%;
  border-color: aliceblue;
  right: 0;
  color: lightgreen;
  /* padding: 20px; */
  transition: transform var(--animation-cubicBezier);
}
.button:hover,
.button:focus {
  transform: scale(1.05);
}

.button:disabled {
  color: var(--color-gray);
  pointer-events: none;
}

.deleteButton {
  composes: button;
  top: 10px;
  right: 10px;
  color: var(--color-red);
}

.editButton {
  composes: button;
  bottom: 10px;
  right: 10px;
  /* color: var(--color-lightBlue); */
}
