.form {
  margin-bottom: 25px;
  color: var(--color-gray);
  box-shadow: var(--shadow-regular);
  padding: 20px;
  background-color: var(--color-light);
  border-radius: 8px;
  /* border-top: 2px solid grey;
  border-bottom: 2px solid grey; */
}

.formWrap {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.description {
  font-size: 16px;
  font-weight: 500;
  color: darkgray;
  margin-top: 10px;
}

.fieldInput {
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 7px;
  margin-left: 0;
}

.wraper {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
}
